.main-section{
    height: 620px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    
}
img {
    width: 150px;
}
.tittle {
    font-size: 13px;
}
.section-1 {
    float: left;
    width: 50%;
}
.section-2 {
    float: right;
    width: 50%;
}
.left-text {
    color: #4966cc;
    font-size: 12px;
    font-weight: bold;
}
.right-text {
    font-size: 12px;
}